
@use "./mixin";
@use "./variables" as var;

.display-none {
    display: none;
}

.display-block {
    display: block;
}

@include mixin.display;

@each $name, $breakpoint in var.$breakpoints {
    @media screen and (min-width: #{$breakpoint}px) {
        @include mixin.display($name);
    }
}

.btn {
    display: inline-block;
    padding: 13.333px 11.667px;
    color: #fff;
    border-radius: 6.667px;
    font-size: 1.6667rem;
    font-weight: 700;
    &.btn-primary {
        background: var.$primaryColor;
    }

    &.btn-outline-seemore {
        padding: 11.667px 21.667px;
        border: 1px solid var.$primaryColor;
        color: var.$textColor;

        &:hover {
            background-color: var.$primaryColor;
            color: #fff;
            
        }
    }
}