$primaryColor: #46B20F;
$secondaryColor: #FF6916;
$font: Inter, sans-serif;
$fontSize: 1.6rem;
$textColor: #2C2C2C;
$linkColor: #2C2C2C;
$headingColor: #2C2C2C;

$breakpoints: (
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1400,
);