@use "../../parts";

.posts {
    padding: 64px 0;

    .posts-txt {
        max-width: 53%;
        margin: 0 auto;
        text-align: center;
        .post-heading2 {
            margin: 0;
            font-size: 3.1667rem;
            font-weight: 800;
            line-height: 131.523%;
            
        }
        .post-para {
            padding: 23px 0 29px 0;
            max-width: 657.5px;
            margin: 0 auto;
        }
    }

    .posts-list {
        margin: 0 auto;
        .post-item {
            max-width: 385px;
            margin: 0 auto;

            .image {
                img {
                    border-radius: 6.667px;
                    text-align: center;
                }
            }
            .meta {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16.27px 0 18.67px;

                li {
                    &:first-child {
                        a {
                            color: parts.$primaryColor;
                            font-weight: 500;
                            font-size: 1.5rem;
                        }
                    }
                    &:last-child {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        color: #A3A3A3;
                        font-weight: 500;
                        font-size: 1.5rem;
                        svg {
                            vertical-align: top;
                        }
                    }
                }
            }

            .post-heading3 {
                font-size: 2rem;
                font-weight: 600;
                line-height: 26.667px;
                margin-bottom: 16.27px;
            }

        }
    }

    .posts-more {
        margin-top: 80px;
        text-align: center;
        svg {
            float: right;
            margin-top: -4px;
        }
        &:hover {
            svg {
                path {
                    fill: #fff;
                }
            }
        }
        
    }
}

@media screen and (max-width: 1200px) {
    .posts {
        .posts-txt {
            max-width: 100%;

        }
        .posts-list {
            .post-item {
                margin-bottom: 30px;
            }
            
        }
        .posts-more {
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }
}

@media screen and (max-width: 991.98px) {
    .posts {
        .posts-txt {
            max-width: 100%;
        }
        .posts-list {
            .post-item {
                .image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767.98px) {
    .posts {
        .posts-list {
            .post-item {
                .image {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}