@font-face {
    font-family: Space_Grotesk;
    src: url(../font/SpaceGrotesk-VariableFont_wght.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Inter;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.main-left {
    padding: 30px 80px;
   width: 50%;
}

 
.main-left .list-left .title {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;

}

.main-left .item {
    margin-bottom: 30px;
    
}
 .main-left .title h2 {
    font-size: 2.4rem;
    font-weight: 900;
    font-family: Space_Grotesk;
    position: relative;
    padding-right: 80px;
}

.main-left .title h2 {
    position: relative;
    font-size: 2.4rem;
    font-weight: 900;
    font-family: Space_Grotesk;
    margin-right: 20px;
}

.main-left .list-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-left .list-left .item:nth-of-type(2) .title h2 {
    left: -23px;
}
.main-left .list-left .item:nth-of-type(3) .title h2 {
    left: -15px;
}

.main-left .list-left .item:nth-of-type(4) .title h2 {
    left: -30px;
}


.main-left .title h2:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color:green;
    position: absolute;
    border-radius: 50%;
    right: 40px;
    top: 5px;
    box-shadow: -1px -2px 10px 10px rgb(204, 217, 219);
}

.main-left .title h2:after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    margin-left: 10px;
    box-shadow: -1px -2px 10px 10px rgb(204, 217, 219);
}

 .main-left .item .content {
    position: relative;
}

.main-left .item .content .content-desc {
    position: relative;
    padding-top: 5px;
    width: 280px;
    left: -28px;
    font-size: 1.4rem;
    text-indent: 24px;
    color: gray;
    line-height: 3rem;
}

.main-left .item .content .link {
    position: relative;
    top: 20px;
    left: 80px;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 999px;
    background-color: #d3cdcd;
    color: #333;
}

.main-left .item:not(:last-child) .content:after {
    content: "";
    position: absolute;
    left: 245px;
    top: 10px;
    height: 150px;
    border: 1px solid #eee9e9;
} 

.main-left .list-left .item:not(:first-child) {
    padding-top: 80px; 
}

.main-left .list-left .item:hover .link {
    background-color: #a26f5a;
    color: #fff;
    transition: all 0.3s ease-in-out;

} 


.main-right {
    /* width: 50%; */
    right: 0;
    margin: 50px;
}

.main-right .background-image{
    background-image: url(https://images.unsplash.com/photo-1702576718149-4060f4528554?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxMjl8fHxlbnwwfHx8fHw%3D);
    position: relative;
    width: 300px;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-right .background-color {
    background-image: url(https://images.unsplash.com/photo-1702564696520-9d053d3bc9eb?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    position: relative;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
}

.main-right .background-content {
    position: absolute;
    background-color: #00f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
}

.main-right .background-content h2 {
    position: absolute;
    font-size: 5rem;
    bottom: 50px;
    right: 10px;
    z-index: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://images.unsplash.com/photo-1702577067636-4e88b4236a6b?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;

}

.main-right .background-content p {
    position: absolute;
    background-image: url(https://images.unsplash.com/photo-1702564696520-9d053d3bc9eb?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    bottom: 20px;
    right: 10px;
    z-index: 1;
}

