@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.contact {
    display: flex;
}

.contact .content {
    padding: 50px 0;
    text-align: center;
}

.contact .content .title {
    font-size: 3rem;
    font-weight: 600;
}
.contact .content .para {
    color: #707070;
    padding-top: 30px;
}

.contact .info {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.contact .info .row {
    margin: 30px;
    display: flex;
    gap: 30px;
}

.contact .info .row .row-item {
    position: relative;
    align-items: center;
    color: #acaaaa;
}

.contact .info .row input {
    padding-left: 20px;
    height: 50px;
    width: 400px;
    border-radius: 5px;
    border: 1px solid #f2f2f2;
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
}


.contact .info .row .row-item label {
    position: absolute;
    left: 20px;
    top: 40%;
}

.contact .info .row .row-item input:focus ~ label {
    position: absolute;
    top: 6px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
}

.contact .info .row .row-item input:focus ~ label, .contact .info .row .row-item input:valid ~ label{
    position: absolute;
    top: 6px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;

}

.contact .info .row .row-item input[type="email"]:focus ~ label, 
.contact .info .row .row-item input[type="email"]:valid ~ label {
position: absolute;
top: 6px;
font-size: 1.2rem;
transition: all 0.3s ease-in-out;
}

.contact .info .row .row-item textarea:focus + label, .contact .info .row .row-item textarea:valid + label {
    position: absolute;
    top: 30px;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    

}

.contact .info .row .row-item select {
    height: 50px;
    width: 430px;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
    color: #acaaaa;
    font-size: 1.5rem;
    padding-left: 20px;
}

.contact .info .row .row-item textarea {
    border: 1px solid #f2f2f2;
    position: relative;
    top: 20px;
    left: 10px;
    font-size: 1.8rem;
    /* padding: 80px 20px 0; */
    padding-top: 30px;
    padding-left: 20px;
}

.contact .info .row .row-item textarea + label {
    top: 50px
}



button {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 15px 30px;
    border-radius: 999px;
    background-color: #4d77d9;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}

button:hover {
    background-color: #6e8fdb;
}